In [1]:
from api import bingx as api_entry
import indicator

Successfully read secret key from .env\api_key.json
Simulation mode is ON

In [2]:
kLines = api_entry.get_kLine_data(symbol='BTC-USDT', interval='1m', limit=1000)

In [3]:
btc_indicate = indicator.Indicators('BTC-USDT', 1 * 60 * 1000)
btc_indicate.import_kLines(kLines)

In [4]:
btc_indicate.kLines_pd.head(20)

,open,close,high,low,volume,time,timeStamp,EMA20,EMA40,EMA60,RSI
0,94571.5,94560.4,94591.9,94560.4,0.20,2025-04-26 23:46:00,1745711160000,94560.400000,94560.400000,94560.400000,NaN
1,94560.4,94543.5,94560.4,94540.7,0.32,2025-04-26 23:47:00,1745711220000,94558.790476,94559.575610,94559.845902,NaN
2,94543.5,94549.6,94552.8,94532.6,0.63,2025-04-26 23:48:00,1745711280000,94557.915193,94559.088995,94559.509970,NaN
3,94549.4,94546.9,94586.0,94546.9,0.10,2025-04-26 23:49:00,1745711340000,94556.866127,94558.494410,94559.096529,NaN
4,94544.9,94525.2,94544.9,94525.0,0.64,2025-04-26 23:50:00,1745711400000,94553.850305,94556.870292,94557.985167,NaN
5,94525.2,94522.6,94525.2,94516.3,0.10,2025-04-26 23:51:00,1745711460000,94550.874086,94555.198570,94556.824998,NaN
6,94522.6,94514.0,94537.3,94511.9,9.89,2025-04-26 23:52:00,1745711520000,94547.362268,94553.188884,94555.420899,NaN
7,94514.0,94537.8,94538.0,94491.0,20.31,2025-04-26 23:53:00,1745711580000,94546.451576,94552.438207,94554.843165,NaN
8,94538.0,94567.0,94579.7,94537.8,0.10,2025-04-26 23:54:00,1745711640000,94548.408569,94553.148538,94555.241750,NaN
9,94567.2,94570.2,94570.4,94567.0,0.10,2025-04-26 23:55:00,1745711700000,94550.483943,94553.980317,94555.732184,NaN
10,94570.2,94585.9,94587.4,94570.2,0.10,2025-04-26 23:56:00,1745711760000,94553.856901,94555.537375,94556.721293,NaN
11,94585.9,94581.5,94585.9,94581.5,0.09,2025-04-26 23:57:00,1745711820000,94556.489577,94556.803844,94557.533710,NaN
12,94570.5,94556.1,94570.5,94555.1,1.89,2025-04-26 23:58:00,1745711880000,94556.452474,94556.769510,94557.486703,NaN
13,94555.9,94578.7,94578.7,94555.7,0.09,2025-04-26 23:59:00,1745711940000,94558.571286,94557.839290,94558.182221,NaN
14,94578.5,94600.2,94629.9,94578.5,0.12,2025-04-27 00:00:00,1745712000000,94562.535926,94559.905666,94559.559853,59.735812
15,94600.2,94600.9,94622.3,94583.3,0.14,2025-04-27 00:01:00,1745712060000,94566.189647,94561.905390,94560.915267,59.883765
16,94600.9,94648.6,94648.6,94591.0,0.13,2025-04-27 00:02:00,1745712120000,94574.038252,94566.134395,94563.790177,68.403824
17,94648.4,94585.1,94651.1,94584.9,0.11,2025-04-27 00:03:00,1745712180000,94575.091752,94567.059547,94564.488859,52.437514
18,94584.9,94545.4,94602.8,94545.2,0.10,2025-04-27 00:04:00,1745712240000,94572.263966,94566.002983,94563.862995,45.315930
19,94545.2,94537.8,94551.5,94526.2,0.10,2025-04-27 00:05:00,1745712300000,94568.981684,94564.627228,94563.008471,44.081688

In [5]:
btc_indicate.kLines_pd.tail(10)

,open,close,high,low,volume,time,timeStamp,EMA20,EMA40,EMA60,RSI
990,93819.4,93822.9,93838.6,93812.5,54.86,2025-04-27 16:16:00,1745770560000,93852.058490,93851.103900,93855.376547,42.987170
991,93813.7,93775.8,93821.7,93766.5,7.43,2025-04-27 16:17:00,1745770620000,93844.795777,93847.430539,93852.767480,34.858643
992,93766.6,93765.4,93783.1,93765.4,0.32,2025-04-27 16:18:00,1745770680000,93837.234274,93843.429049,93849.902972,33.358685
993,93774.6,93762.7,93780.3,93753.9,24.36,2025-04-27 16:19:00,1745770740000,93830.135772,93839.491047,93847.043859,32.962134
994,93762.5,93810.0,93810.8,93758.7,3.95,2025-04-27 16:20:00,1745770800000,93828.218079,93838.052459,93845.829306,45.242602
995,93810.2,93819.7,93822.6,93810.0,1.09,2025-04-27 16:21:00,1745770860000,93827.406834,93837.157217,93844.972607,47.371765
996,93819.7,93793.3,93829.0,93785.3,0.62,2025-04-27 16:22:00,1745770920000,93824.158564,93835.017841,93843.278423,42.525248
997,93793.1,93808.7,93818.0,93790.0,1.69,2025-04-27 16:23:00,1745770980000,93822.686320,93833.734044,93842.144705,45.996105
998,93808.7,93782.4,93816.1,93781.2,0.09,2025-04-27 16:24:00,1745771040000,93818.849527,93831.229944,93840.185862,41.398192
999,93782.2,93780.1,93782.4,93780.1,0.41,2025-04-27 16:25:00,1745771100000,93815.159096,93828.735800,93838.215834,41.012085

In [9]:
k2 = api_entry.get_kLine_data(symbol='BTC-USDT', interval='1m', limit=5)

In [10]:
btc_indicate.append_kLines(k2)

1745770920000, 1745771100000
1745770980000, 1745771100000
1745771040000, 1745771100000
1745771100000, 1745771100000
1745771160000, 1745771100000

In [11]:
btc_indicate.kLines_pd.tail(10)

,open,close,high,low,volume,time,timeStamp,EMA20,EMA40,EMA60,RSI
991,93813.7,93775.8,93821.7,93766.5,7.43,2025-04-27 16:17:00,1745770620000,93844.795777,93847.430539,93852.767480,34.858643
992,93766.6,93765.4,93783.1,93765.4,0.32,2025-04-27 16:18:00,1745770680000,93837.234274,93843.429049,93849.902972,33.358685
993,93774.6,93762.7,93780.3,93753.9,24.36,2025-04-27 16:19:00,1745770740000,93830.135772,93839.491047,93847.043859,32.962134
994,93762.5,93810.0,93810.8,93758.7,3.95,2025-04-27 16:20:00,1745770800000,93828.218079,93838.052459,93845.829306,45.242602
995,93810.2,93819.7,93822.6,93810.0,1.09,2025-04-27 16:21:00,1745770860000,93827.406834,93837.157217,93844.972607,47.371765
996,93819.7,93793.3,93829.0,93785.3,0.62,2025-04-27 16:22:00,1745770920000,93824.158564,93835.017841,93843.278423,42.525248
997,93793.1,93808.7,93818.0,93790.0,1.69,2025-04-27 16:23:00,1745770980000,93822.686320,93833.734044,93842.144705,45.996105
998,93808.7,93782.4,93816.1,93781.2,0.09,2025-04-27 16:24:00,1745771040000,93818.849527,93831.229944,93840.185862,41.398192
999,93782.2,93780.1,93782.4,93780.1,0.41,2025-04-27 16:25:00,1745771100000,93815.159096,93828.735800,93838.215834,41.012085
1000,93752.2,93763.3,93763.5,93752.0,0.06,2025-04-27 16:26:00,1745771160000,93810.220135,93825.543810,93835.759577,38.208865